@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.html,
body {
  --tw-bg-opacity: 1;
  background-color: rgb(19 21 31 / var(--tw-bg-opacity));
}

::-webkit-scrollbar {
  width: 0;
}

.scrollable::-webkit-scrollbar {
  width: 5px;
}

.scrollable::-webkit-scrollbar-track {
  background: #1f2333;
}
.scrollable::-webkit-scrollbar-thumb {
  background: #343c4f;
  border-radius: 5px;
}
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #4d556a;
}
